.page-item.active .page-link{
    color: #fff;
}
.ck-editor{
    width: 100% !important;
}
.pd-categories label span:not(:last-child)::after{
    content: ', ';

}
.table .alert{
    color: #fff;
    font-size: 14px;
    padding: 5px;
}
